.consent-popup {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.308);
  opacity: 1;
  transition: opacity 0.8s ease;
}

.hidden {
  transform: scale(0);
}

.btn-flush {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #069;
  text-decoration: underline;
  outline: 0 !important;
  cursor: pointer;
}

